[submodule "themes/tilde"]
    path = themes/tilde
    url = https://git.sr.ht/~savoy/tilde
[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone
[submodule "themes/themes/serene"]
	path = themes/themes/serene
	url = https://github.com/isunjn/serene.git
	branch = latest
[submodule "themes/serene"]
	path = themes/serene
	url = https://github.com/isunjn/serene.git
	branch = latest
